/* SIDEBAR */

.sidebar{

width:280px;

background:
linear-gradient(
180deg,
#198754,
#0f5132
);

color:#fff;

padding:30px 20px;

position:fixed;

left:0;
top:0;

height:100vh;

overflow-y:auto;

z-index:999;

}

.logo-box{
margin-bottom:40px;
}

.logo-box h2{
font-weight:700;
font-size:32px;
color:#fff;
}

.logo-box p{
opacity:.8;
margin-top:8px;
color:#fff;
}

.sidebar-menu{
list-style:none;
padding:0;
}

.sidebar-menu li{
margin-bottom:12px;
}

.sidebar-menu a{

display:flex;
align-items:center;
gap:14px;

text-decoration:none;

padding:16px 18px;

border-radius:18px;

color:#fff;

transition:.3s;

font-size:16px;
font-weight:500;

}

.sidebar-menu a:hover{

background:
rgba(255,255,255,.15);

}

.sidebar-menu i{
font-size:18px;
}


/* PAGE LAYOUT */

.dashboard-wrapper{
display:flex;
}

.main-content{

margin-left:280px;

width:calc(100% - 280px);

height:100vh;

display:flex;

overflow:hidden;

}